{% extends 'base.html' %}

{% load humanize %}

{% block title %} | نتایج جستجو {% endblock %}

{% block content %}

<style>
  body {
    background-color: #e0af46;
    font-family: "IranYekan";
  }
  .cu {
    background-color: #ff3036;
  }
  #showcase-inr {
    background-color: #e09546;
  }
</style>
<section id="showcase-inr" class="showcase-search text-white py-5">
        <div class="container">
          <div class="row text-center">
            <div class="col-md-12">
              <form action="{% url 'search' %}">
                <!-- Form Row 1 -->
                <div class="form-row">
                  <div class="col-md-4 mb-3">
                    <label class="sr-only">کلمات کلیدی</label>
                    <input type="text" name="keywords" class="form-control"
                     placeholder="کلمه ی کلیدی" value="{{ values.keywords }}">
                  </div>
    
                  <div class="col-md-4 mb-3">
                    <label class="sr-only">شهر</label>
                    <input type="text" name="city" class="form-control" placeholder="شهر" value="{{ values.city }}">
                  </div>
    
                  <div class="col-md-4 mb-3">
                    <label class="sr-only">محله</label>
                    <select name="state" class="form-control">
                      <option selected="true" disabled="disabled">(محله (همه</option>
                      {% for key,value in state_choices.items %}                      
                      <option value="{{ key }}"
                      {% if key == values.state %}
                        selected
                      {%endif%}                      
                      >{{value}}</option>
                     {% endfor %}
                    </select>
                  </div>
                </div>
                <!-- Form Row 2 -->
                <div class="form-row">
                  <div class="col-md-6 mb-3">
                    <label class="sr-only">اتاق ها</label>
                    <select name="bedrooms" class="form-control">
                      <option selected="true" disabled="disabled">اتاق ها</option>
                      {% for key,value in bedroom_choices.items %}
                      <option value="{{ key }}"
                      {% if key == values.bedrooms %}
                      selected
                      {%endif%} 
                      >{{value}}</option>
                     {% endfor %}
                    </select>
                  </div>
                  <div class="col-md-6 mb-3">
                    <select name="price" class="form-control">
                      <option selected="true" disabled="disabled">بیشترین قیمت ها</option>
                      {% for key,value in price_choices.items %}
                      <option value="{{ key }}"
                      {% if key == values.price %}
                      selected
                      {%endif%}
                      >{{value}}</option>
                     {% endfor %}
                    </select>
                  </div>
                </div>
                <button class="btn cu btn-block mt-4 text-white" type="submit"> ثبت </button>
              </form>
            </div>
          </div>
        </div>
      </section>
    
      <!-- Breadcrumb -->
      <section id="bc" class="mt-3">
        <div class="container">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="{% url 'index' %}">
                  <i class="fas fa-home"></i> خانه</a>
              </li>
              <li class="breadcrumb-item">
                <a href="{% url 'listings' %}">گشتن بین خانه ها</a>
              </li>
              <li class="breadcrumb-item active"> نتایج جستجو</li>
            </ol>
          </nav>
        </div>
      </section>
    
      <!-- Listings -->
      <section id="listings" class="py-4">
        <div class="container">
          <div class="row">
                {% if listings %}
                {% for listing in listings %}
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="card listing-preview">
                      <img class="card-img-top" src="{{ listing.photo_main.url }}" alt="">
                      <div class="card-img-overlay">
                        <h6>
                          <span class="badge badge-danger p-2 text-white"
                            >{{ listing.price | intcomma }} میلیون</span
                          >
                        </h6>
                      </div>
                      <div class="card-body text-center">
                        <div class="listing-heading text-center">
                          <h4 class="text-primary">{{ listing.title }}</h4>
                          <p>
                            <i class="fas fa-map-marker text-primary"></i> {{listing.city}} {{listing.state}}, {{listing.zipcode}}</p>
                        </div>
                        <hr>
                        <div class="row py-2 text-primary">
                          <div class="col-6">
                            <i class="fas fa-th-large"></i> مساحت: {{listing.sqft}} </div>
                          <div class="col-6">
                            <i class="fas fa-car"></i> گاراژ: {{listing.garage}}</div>
                        </div>
                        <div class="row py-2 text-primary">
                          <div class="col-6">
                            <i class="fas fa-bed"></i> اتاق ها: {{listing.bedrooms}}</div>
                          <div class="col-6">
                            <i class="fas fa-bath"></i> حمام ها: {{listing.bathrooms}}</div>
                        </div>
                        <hr>
                        <div class="row py-2 text-danger text-center">
                          <div class="col-10">
                            <i class="fas fa-user"></i> {{listing.realtor}}</div>
                        </div>
                        <div class="row text-center pt-4">
                          <div class="col-10">
                            <i class="fas fa-clock"></i> {{listing.list_date | timesince}}</div>
                        </div>
                        <hr>
                        <a href="{% url 'listing' listing.id %}" class="btn cu text-white btn-block">اطلاعات بیشتر</a>
                      </div>
                    </div>
                  </div>
                {% endfor %}
                {% else %}
                <div class="col-md-12 text-right">
                  <p>هیچ خانه ای موجود نیست</p>
                </div>
                {% endif %}
          </div>
        </div>
      </section>
      {% endblock %}
    